/* Apply globally */
* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #6a11cb, #2575fc);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*stroke for text*/
.stroke {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: aqua;
}

/*font weight*/
.xbold {
  font-weight: 1000;
}
.bold {
  font-weight: 700;
}
.semibold {
  font-weight: 500;
}
.regular {
  font-weight: 400;
}
.thin {
  font-weight: 200;
}

dialog {
  overflow: visible;
  background-color: transparent;
  border: none;
  width: 100vw;
  height: 100vh;
}

.loading-circle {
  animation: loading-circle 0.5s infinite linear;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 10px ridge skyblue;
}

.pic-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  width: fit-content;
  height: fit-content;
}
.pic-cover > div {
  scale: 1;
  flex-shrink: 0;
}
.bar-0 {
  scrollbar-width: none;
}
.bar-1 {
  scrollbar-width: thin;
}
.pointer {
  cursor: pointer;
}

@media (max-width: 700px) {
  .pic-cover > div {
    scale: 0.5;
  }
  .pic-cover {
    width: 175px;
    height: 270px;
  }
}
@keyframes loading-circle {
  100%{
    rotate: 360deg;
  }
}
