*{margin: 0;padding: 0;font-family: Poppins;}
.stroke{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: aqua;
}
.xbold{font-weight: 1000;}
.bold{font-weight: 700;}
.semibold{font-weight: 500;}
.regular{font-weight: 400;}
.thin{font-weight: 200;}
.pic-cover>div{
    scale: 0.4;
}
.pic-cover{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 120px;
    height: 220px;
}