/* Apply globally */
* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #6a11cb, #2575fc);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

dialog {
  overflow: visible;
  background-color: transparent;
  border: none;
  width: 100vw;
  height: 100vh;
}

.loading-circle {
  animation: loading-circle 0.5s infinite linear;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 10px ridge skyblue;
}
.loading-bar {
  width: 260px;
  border-radius: 14px;
  position: relative;
  height: 20px;
}
.loading-bar span {
  animation: loading-bar 1s linear alternate infinite;
  width: 20px;
  height: 20px;
}

.pic-cover {
  width: fit-content;
  height: fit-content;
}

.bar-0 {
  scrollbar-width: none;
}

.bar-1 {
  scrollbar-width: thin;
}

.pointer {
  cursor: pointer;
}

@keyframes loading-circle {
  100% {
    rotate: 360deg;
  }
}
@keyframes loading-bar {
  0%{left: 0px;}100%{left:240px;}
}
