* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}
/* Apply globally */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #6a11cb, #2575fc);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.stroke {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: aqua;
}
.xbold {
  font-weight: 1000;
}
.bold {
  font-weight: 700;
}
.semibold {
  font-weight: 500;
}
.regular {
  font-weight: 400;
}
.thin {
  font-weight: 200;
}
.pic-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid;
  text-align: center;
  text-decoration: none;
  width: fit-content;
  height: fit-content;
}
.pic-cover > div {
  scale: 1;
}
.bar-0 {
  scrollbar-width: none;
}
.bar-1 {
  scrollbar-width: thin;
}
.pointer {
  cursor: pointer;
}
@media (max-width: 700px) {
  .pic-cover > div {
    scale: 0.5;
  }
  .pic-cover {
    width: 140px;
    height: 260px;
  }
}
